//NET "CLOCK_24<0>" LOC = "";		
//NET "CLOCK_27<0>" LOC = ""; 		
NET "CLOCK_50" LOC = "T9";			
NET "KEY<0>" LOC = "M13"; 			 
NET "KEY<2>" LOC = "M14";
NET "SW<0>" LOC = "F12";  		 
NET "SW<1>" LOC = "G12";		
NET "SW<2>" LOC = "H14";
NET "SW<3>" LOC = "H13";
NET "SW<4>" LOC = "J14";
NET "SW<5>" LOC = "J13";
NET "SW<6>" LOC = "K14";
NET "SW<7>" LOC = "K13";
//NET "SW<8>"	LOC = "";
NET "LEDR<0>" LOC = "K12";    			
NET "LEDR<1>" LOC = "P14";
NET "LEDR<2>" LOC = "L12";
NET "LEDR<3>" LOC = "N14";
NET "LEDR<4>" LOC = "P13";
NET "LEDR<5>" LOC = "N12";
NET "LEDR<6>" LOC = "P12";
NET "LEDR<7>" LOC = "P11";
//NET "LEDR<8>" LOC = "";
//NET "LEDG<0>" LOC = ""; 
//NET "LEDG<1>" LOC = "";
//NET "LEDG<2>" LOC = "";
//NET "LEDG<3>" LOC = "";
//NET "LEDG<4>" LOC = "";
//NET "LEDG<5>" LOC = "";
//NET "LEDG<6>" LOC = "";
NET "VGA_R<0>" LOC = "R12";		
//NET "VGA_R<1>" LOC = "";
//NET "VGA_R<2>" LOC = "";
NET "VGA_G<0>" LOC = "T12";		
//NET "VGA_G<1>" LOC = "";
//NET "VGA_G<2>" LOC = "";
NET "VGA_B<0>" LOC = "R11";			
//NET "VGA_B<1>" LOC = "";
//NET "VGA_B<2>" LOC = "";
NET "VGA_HS" LOC = "R9";							
NET "VGA_VS" LOC = "T10";						
NET "HEX3<0>" LOC = "E14";   					
NET "HEX3<1>" LOC = "G13";
NET "HEX3<2>" LOC = "N15";
NET "HEX3<3>" LOC = "P15";
NET "HEX3<4>" LOC = "R16";
NET "HEX3<5>" LOC = "F13";
NET "HEX2<0>" LOC = "N16";
NET "HEX2<1>" LOC = "P16";
//NET "HEX2<2>" LOC = "";
//NET "HEX2<3>" LOC = "";
//NET "HEX2<4>" LOC = "";
//NET "HEX2<5>" LOC = "";
//NET "HEX1<0>" LOC = ""; 
//NET "HEX1<1>" LOC = "";
//NET "HEX1<2>" LOC = "";
//NET "HEX1<3>" LOC = "";
//NET "HEX1<4>" LOC = "";
//NET "HEX1<5>" LOC = "";
//NET "HEX0<0>" LOC = "";
//NET "HEX0<1>" LOC = "";
//NET "HEX0<2>" LOC = "";
//NET "HEX0<3>" LOC = "";
//NET "HEX0<4>" LOC = "";
//NET "HEX0<5>" LOC = "";
